# Entornos virtuales
venv/
.venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp